git lfs track "*.psb"
git lfs track "*.tif"
git lfs track "*.tiff"
git lfs track "*.exr"
git lfs track "*.hdr"
git lfs track "*.mp3"
git lfs track "*.ogg"
git lfs track "*.mp4"
git lfs track "*.mov"
git lfs track "*.glb"
git lfs track "*.gltf"
git lfs track "*.shadergraph"
git lfs track "*.cginc"
